.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    background-color: var(--bg-secondary);
  }
}

.circle-icon {
  display: flex;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--bg-third);
}

.name {
  margin-left: 12px;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}

.auto {
  margin-left: auto;
}

.img {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--bg-third);
  overflow: hidden;
}
