.wrapper {
  margin-top: 56px;
}

.profile_cover {
  position: relative;
  width: 100%;
  background-color: var(--bg-secondary);
}

.profile_cover-save {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 16px;
  background-color: var(--shadow-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.save_change-left {
  display: flex;
  align-items: center;
  gap: 10px;

  & span {
    font-weight: 600;
  }
}
.save_change-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cover {
  position: relative;
  width: 75%;
  padding-top: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: auto;
}

.cover_cropper {
  height: 100%;
  & img {
    width: 100%;
    object-fit: cover;
  }
}

.update_cover-btn {
  position: absolute;
  bottom: 16px;
  right: 32px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #111;
  padding: 8px 12px;
  background-color: var(--bg-primary);
  border-radius: 8px;
  cursor: pointer;

  & > i {
    transform: scale(0.8);
  }
  & p {
    font-size: 15px;
    font-weight: 600;
    transform: translateY(-1px);
  }
}

.menu_update {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-primary);
  box-shadow: 0 2px 5px var(--shadow-1);
}

.menu_update-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;

  &:hover {
    background-color: var(--bg-secondary);
  }

  & p {
    font-size: 15px;
    font-weight: 600;
    transform: translateY(-1px);
  }
}

.profile_infos {
  position: relative;
  box-shadow: 0 1px 2px var(--shadow-1);
}

.profile_infos-wrap {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  padding: 0 32px;
}

.profile_infos-left {
  display: flex;
  align-items: flex-start;
}

.profile_avatar {
  position: relative;
  top: -32px;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px solid var(--bg-primary);
  cursor: pointer;

  &:hover {
    filter: brightness(95%);
  }
}

.profile_avatar-update {
  position: absolute;
  bottom: 10px;
  right: 6px;
  display: flex;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--bg-third);
}

.profile_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
  margin-top: 16px;
}

.profile_friends {
  font-weight: 500;
  color: var(--color-secondary);
}

.profile_friend-imgs {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.profile_friend-link + .profile_friend-link {
  margin-left: -8px;
}

.profile_friend-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--bg-secondary);
  background-size: cover;
}

.profile_infos-right {
  display: flex;
  align-items: center;
}

.edit_btn {
  margin-left: 10px;
}

.divider {
  width: calc(75% - 64px);
  height: 1px;
  background-color: var(--bg-third);
  margin: -16px auto 6px;
}

.profile_menu {
  display: flex;
  align-items: center;
  width: calc(75% - 64px);
  margin: auto;
}

.profile_menu-item {
  display: inline-flex;
  padding: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &:hover {
    background-color: var(--bg-secondary);
  }
}

.profile_menu-item:not(.active) {
  transform: translateY(-3px);
  border-radius: 4px;
}

.title {
  font-size: 15px;
  font-weight: 500;
}

.dots_btn {
  display: flex;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: var(--bg-secondary);
  margin-left: auto;
  cursor: pointer;
  transform: translateY(-3px);
}

.profile_container {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  background-color: var(--bg-third);
}

.profile_content {
  width: calc(75% - 64px);
  display: flex;
  gap: 16px;
}

.profile_left {
  width: 40%;
  border-radius: 10px;
  height: fit-content;
}

.profile_right {
  width: 60%;
  border-radius: 10px;
}

//grid view

.view_post {
  background-color: var(--bg-primary);
  border-radius: 10px;
  box-shadow: 0 1px 2px var(--shadow-1);
  margin-top: 16px;
}

.view_post-top {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  border-bottom: 1px solid var(--divider);
}

.view_post-header {
  font-size: 20px;
  font-weight: 700;
}

.view_post-actions {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.view_post-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.view_post-type {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  gap: 5px;
  cursor: pointer;
}

.view_post-name {
  font-size: 15px;
  font-weight: 600;
  color: var(--color-secondary);
}
.filter {
  filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg)
    brightness(97%) contrast(96%);
}
.active {
  border-bottom: 3px solid #2e89ff;
  color: var(--blue-color);

  & .view_post-name {
    color: var(--blue-color);
  }
}

.profile_posts {
  margin-top: 16px;
}

// profile-card

.profile_card {
  padding: 8px 16px 16px 16px;
  border-radius: 10px;
  box-shadow: 0 1px 2px var(--shadow-1);
  background-color: var(--bg-primary);
}

.profile_card + .profile_card {
  margin-top: 16px;
}

.profile_card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -8px;
}

.profile_card-heading {
  font-size: 20px;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

.profile_card-link {
  color: var(--blue-color);
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  border-radius: 5px;

  &:hover {
    background-color: var(--bg-secondary);
  }
}

.profile_card-grid {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 8px;
}

.profile_friends-grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 8px;

  & span {
    font-size: 14px;
    font-weight: 600;
  }
}
.profile_photo-card {
  cursor: pointer;
  display: flex;
  padding-top: 90%;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;

  &:hover {
    filter: brightness(1.1);
  }
}

.fix_scroll {
  position: fixed;
  bottom: 20px;
  left: calc(12.5% + 32px);
  width: calc(30% - 32px);
}

.custom {
  margin-left: calc(40% + 8px);
}

.friendship {
  display: flex;
  gap: 10px;
}

.menu_friend {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: var(--bg-primary);
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 var(--shadow-1);
}
.menu_friend-item {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 12px;
  cursor: pointer;
  border-radius: 4px;
  &:hover {
    background-color: var(--bg-third);
  }
  & span {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    transform: translateY(1px);
  }
}
// tablet
@media only screen and (min-width: 740px) and (max-width: 992px) {
  .cover {
    position: relative;
    width: 100%;
    padding-top: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
  }
  .profile_infos-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .profile_infos-left {
    flex-direction: column;
    align-items: center;
  }
  .profile_infos-right {
    justify-content: center;
  }
  .update_cover-btn {
    & p {
      display: none;
    }
  }
  .profile_name {
    align-items: center;
    margin: -16px 0 10px 0;
  }
  .profile_menu-item {
    padding: 16px 8px;
  }
  .profile_menu-item:nth-child(7) {
    display: none;
  }
  .divider {
    width: calc(100% - 32px);
    height: 1px;
    background-color: var(--divider);
    margin: 16px auto 6px;
  }

  .profile_menu {
    display: flex;
    align-items: center;
    width: calc(75% - 64px);
    padding: 0 16px;
    margin: auto;
  }
  .profile_content {
    width: calc(75% - 64px);
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .profile_left {
    width: 100%;
    border-radius: 10px;
    background-color: var(--bg-secondary);
  }

  .profile_right {
    width: 100%;
    border-radius: 10px;
  }
}

// mobile
@media only screen and (max-width: 739px) {
  .cover {
    position: relative;
    width: 100%;
    padding-top: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 106px;
  }
  .profile_menu-item:nth-child(7) {
    display: none;
  }
  .profile_infos-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .profile_infos-left {
    flex-direction: column;
    align-items: center;
  }
  .profile_infos-right {
    justify-content: center;
  }
  .update_cover-btn {
    & p {
      display: none;
    }
  }
  .profile_name {
    align-items: center;
    margin: -16px 0 16px 0;
  }
  .divider {
    width: calc(100% - 32px);
    height: 1px;
    background-color: var(--divider);
    margin: 16px auto 6px;
  }

  .profile_menu {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    margin: auto;
  }
  .profile_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .view_post-type {
    padding: 10px 0;
  }
  .profile_left {
    width: 100%;
    border-radius: 10px;
    background-color: var(--bg-secondary);
  }

  .profile_right {
    width: 100%;
    border-radius: 10px;
  }
}

.suggest {
  padding: 0 16px;
  margin-top: 32px;
}

.suggest_header {
  font-size: 17px;
  font-weight: 700;
}

.suggest_images {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(6, 1fr);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 12px;
  & img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
  }
}

.wrapper_popup {
  width: 700px;
  max-width: 100%;
  height: 80vh;
  overflow-y: scroll;
  background-color: var(--bg-primary);
  border-radius: 10px;
}
.wrapper_popup::-webkit-scrollbar {
  width: 8px;
}

.wrapper_popup::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--divider);
}

.popup_header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px 0;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid var(--bg-third);
}

.circle-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12px;
  right: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--bg-secondary);
  cursor: pointer;

  &:hover {
    background-color: var(--bg-third);
  }
}

@media (max-width: 576px) {
  .profile_menu-item:nth-child(6) {
    display: none;
  }
  .profile_menu-item {
    padding: 16px 8px;
  }
}
