.post {
  position: relative;
  background-color: var(--bg-primary);
  border-radius: 10px;
  box-shadow: 0 1px 2px var(--shadow-1);
}

.post + .post {
  margin-top: 16px;
}
.post_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.post_header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wrap-avatar{
  display: flex;
}

.post_user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.post_date {
  display: flex;
  align-items: center;
}

.post_username {
  font-size: 15px;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.update_at {
  font-size: 13px;
  font-weight: 400;
  color: var(--color-secondary);
}

.dot_link {
  transform: translateY(-4px);
  padding: 0 2px;
}

.post_header-right {
  display: flex;
  align-items: center;
}

.dots_icon,
.add_exit-icon {
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-secondary);
  }
}

.post_content_text {
  margin: 0px 16px 10px 16px;
  display: block;
}

/// layout image
.add_picture-content {
  display: grid;
  gap: 2px;
  width: 100%;
  background-color: var(--bg-secondary);
  border-radius: 8px;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.grid_layout-even {
  grid-template-columns: repeat(2, 1fr);
}

.grid_layout-odd {
  grid-template-columns: repeat(2, 1fr);
  & .img-preview:nth-child(1) {
    grid-column: 1/3;
  }
}

.img-preview {
  position: relative;
}

.blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgb(0 0 0 / 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
}

.post_bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;

  & .post_content_text {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
}

.post_infos {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 16px;
}

.react_count {
}

.react_count-img {
}

.react_count-num {
}

.comment_count {
  margin-left: auto;
  cursor: pointer;
  font-size: 15px;
  color: var(--color-secondary);
  &:hover {
    text-decoration: underline;
  }
}

.share_count {
  cursor: pointer;
  font-size: 15px;
  color: var(--color-secondary);
  &:hover {
    text-decoration: underline;
  }
}

.post_actions {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 0;
  margin: 0 16px;
  border-top: 1px solid var(--bg-third);
  border-bottom: 1px solid var(--bg-third);
}

.post_action {
  display: flex;
  flex: 1;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 7px 0;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-secondary);
  }
  & span {
    color: var(--color-secondary);
    font-weight: 600;
    transform: translateY(-2px);
  }
}

.react_popup {
  display: flex;
  gap: 4px;
  background-color: var(--bg-primary);
  padding: 4px;
  border-radius: 99px;
  box-shadow: 0 1px 2px var(--shadow-1);
}

.react {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.25) translateY(-4px);
  }

  &:hover .react_name {
    display: flex;
  }
  & img {
    width: 42px;
  }
}

.react_name {
  position: absolute;
  top: -16px;
  font-size: 10px;
  font-weight: 600;
  display: none;
  padding: 0 6px;
  margin: 0 -6px;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  background-color: var(--bg-secondary);
  color: var(--color-secondary);
}

//Post menu
.post_menu {
  width: 340px;
  background-color: var(--bg-primary);
  box-shadow: 1px 0 2px var(--shadow-1);
  border-radius: 8px;
  padding: 8px;
}
.menu_item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: var(--bg-secondary);
  }
}

.custom {
  transform: translateY(-3px);
}

.menu_item-icon {
  display: flex;
}

.menu_item-img{
  filter: invert(0.3);
  width: 20px;
}
.menu_item-description {
}

.menu_item-title {
  font-weight: 600;
}

.menu_item-subtitle {
  font-size: 12px;
}
