.comment_wrapper {
  display: flex;
  flex-direction: column;
}

.comment_wrapper-text {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 8px 16px;
}

.comment_user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  & > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.input_wrap {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--bg-forth);
  border-radius: 16px;
  padding-left: 12px;

  & > input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 0;
    background-color: transparent;
  }
}

.comment_circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  margin-left: -16px;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-third);
  }
}

.comment_img {
  position: relative;
  margin-left: 60px;
  & > img {
    width: 150px;
    object-fit: cover;
  }
}

.circle_exit-icon {
  position: absolute;
  top: 0;
  right: 16px;
  display: flex;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--bg-forth);
  &:hover {
    background-color: var(--bg-third);
  }
}

.post_input {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-primary);
  background-color: transparent;
}
@media (max-width: 740px){
  .comment_wrapper-text{
    padding: 8px;
  }
}
