.wrapper {
  display: flex;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
  background-color: var(--bg-secondary);
  min-height: 100vh;
}

.content {
  width: 600px;
  padding-top: 20px;
}
@media only screen and (max-width: 740px) {
  .container{
    margin-top: 100px;
  }
  .content{
    max-width: 100vw;
  }

  .container::-webkit-scrollbar-thumb{
    display: none;
  }
}
@media only screen and (min-width: 740px) and (max-width:1023px) {
  .content {
    width: 688px;
    min-height: 100vh;
    padding-top: 20px;
  }
}

