.wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  height: 36px;
  cursor: pointer;
  border-radius: 6px;
  color: #111;
  background-color: var(--bg-third);
  transition: all 0.2s ease-in;

  &:hover {
    opacity: 0.8;
  }
}

.large {
  padding: 0 24px;
}
.circle-icon {
  display: flex;
  cursor: pointer;
}

.name {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  transform: translateY(1px);
}

.auto {
  margin-left: auto;
}

.img {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  filter: invert(100%);
}

.primary {
  background-color: var(--blue-color);
  color: #fff;
}
