* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
html {
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  /* --bg-primary: #fff;
  --bg-secondary: #f0f2f5;
  --bg-third: #e4e6eb;
  --bg-forth: #f0f2f5;
  --color-primary: #050505;
  --color-secondary: #65676b;
  --divider: #ced0d4; */
  --bg-primary: #242526;
  --bg-secondary: #18191A;
  --bg-third: #3a3b3c;
  --bg-forth: #3a3b3c;
  --bg-fifth: #888888;
  --color-primary: #e4e6eb;
  --color-secondary: #b0b3b8;
  --divider: rgb(62,64,66);
  --dark-bg-primary: #18191a;
  --dark-bg-secondary: #242526;
  --dark-bg-third: #3a3b3c;
  --dark-color-primary: #242526;
  --dark-color-secondary: #b0b3b8;
  --blue-color: #2374e1;
  --green-color: #42b72a;
  --light-blue-color: #e7f3ff;
  --border-color: #ccced2;
  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-2: rgba(0, 0, 0, 0.1);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-inset: rgba(255, 255, 255, 0.5);
}

html[data-theme="dark"] {
  --bg-primary: #242526;
  --bg-secondary: #18191a;
  --bg-third: #3a3b3c;
  --bg-forth: #3a3b3c;
  --bg-fifth: #888888;
  --color-primary: #e4e6eb;
  --color-secondary: #b0b3b8;
}
/* hover */

.hover1:hover {
  background-color: var(--bg-secondary);
}

.hover2:hover {
  background-color: var(--bg-third);
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

/* custom emoji picker */
.epr-emoji-category .epr-hidden-on-search {
  display: none;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
