.content {
  width: 500px;
  background-color: var(--bg-primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px var(--shadow-1);
  height: fit-content;
  margin-top: 80px;
  max-width: 100%;
  animation: fadeIn 0.5s ease-in;
}
.heading {
  font-size: 20px;
  padding: 18px 16px;
  font-weight: 700;
  color: var(--color-primary);
}
.divider {
  display: block;
  height: 1px;
  background-color: var(--shadow-1);
}

.error {
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  background-color: #ffebe8;
  border: 1px solid #dd3c10;
  margin: 16px 16px 0 16px;

  & p {
    font-size: 15px;
    font-weight: 600;
  }

  & span {
    font-size: 13px;
  }
}
.desc {
  font-size: 17px;
  padding: 16px;
  color: var(--color-primary);
}

.input {
  padding: 16px;
  border: 1px solid var(--shadow-1);
  margin: 0 16px 16px 16px;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
}

.group-btn {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  border-top: 1px solid var(--shadow-1);
}

.cancle-btn {
  padding: 8px 16px;
  background-color: var(--bg-third);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-secondary);
  cursor: pointer;
}

.search-btn {
  padding: 8px;
  background-color: var(--blue-color);
  border-radius: 4px;
  font-weight: 600;
  margin-left: 16px;
  color: var(--color-primary);
  font-size: 16px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
    transform: translateX(500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
