.wrapper {
  width: 360px;
  position: fixed;
  left: 0;
  top: 56px;
  height: calc(100vh - 56px);
  color: var(--color-primary);
  padding: 16px 10px;
  &:hover .home__left::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}

.home__left {
  overflow-y: auto;
  height: 100%;
}
.home__left::-webkit-scrollbar {
  width: 8px;
}
.home__left::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 5px;
  background-color: var(--divider);
}
.custom_img {
  & > span {
    background-color: transparent;
  }
}

.divider {
  height: 1px;
  margin: 8px 0;
  background-color: var(--shadow-1);
}

.shortcuts-title {
  font-size: 17px;
  font-weight: 600;
  padding: 4px 0 8px 0;
}

.custom-img span {
  border-radius: 8px;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    display: none;
  }
}
